name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"   
  workflow_dispatch:      
  push:
    branches:
      - main
      
permissions:
  contents: write
  
jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository content
        uses: actions/checkout@v4

      - name: Generate GitHub contribution grid snake (light + dark)
        uses: Platane/snk@v3
        with:
          github_user_name: lmegogol
          outputs: |
            dist/snake.svg
            dist/snake-dark.svg?palette=github-dark
            dist/snake-light.svg?palette=github-light

      - name: Push generated snake files to the output branch
        uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
